/* Cambios al archivo de estilos original del register */
:root {
    --headerColor: #64B5F6; /* Este color también se usa para botón*/
    --mainColor: #F5F5F5;
    --mainButtonColor: #FF9800;
    --canceledButtonColor: #E57373;
    --mainTextColor: #212121;
    --darkblueText: #001223;
    --blankColor: #D9D9D9; /* Color usado en opciones del landing y espacios del Log In y del Sign Up*/

    font-size: 16px;
}

.register, .logIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.register__buttons-container, .logIn__buttons-container{
    justify-content: center;
}

.register__buttons, .logIn__buttons{
    background-color: var(--mainButtonColor);
}

button{
    text-shadow: 1px 4px 4px #00000058;
}



.success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.success-modal.active {
    opacity: 1;
    pointer-events: all;
}

.success-modal__card {
    background: #fff;
    padding: 2rem 2.5rem;
    border-radius: 18px;
    text-align: center;
    max-width: 300px;
    width: 85%;
    animation: popup 0.35s ease;
    box-shadow: 0 5px 18px rgba(0,0,0,0.2);
}

.success-modal__card h2 {
    color: var(--headerColor);
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.success-modal__card p {
    color: var(--mainTextColor);
    font-size: 1rem;
}

@keyframes popup {
    0% { 
        transform: scale(0.7); opacity: 0; 
    }
    100% { 
        transform: scale(1); opacity: 1; 
    }
}


/*------------MAIN QUERIES------------*/
@media screen and (min-width: 820px) {
    .register__buttons:hover, .logIn__buttons:hover{
        /*Color que rodea el recuadro*/
        filter: drop-shadow(0px 0px px var(--mainButtonColor)); 
        /*Para que sobresalga el color del botón*/
        background-color: #ffa215;
        box-shadow: 1px 1px 12px #ffa215;
    }
}