:root {
    --headerColor: #64B5F6; /* Este color también se usa para botón*/
    --mainColor: #F5F5F5;
    --mainButtonColor: #FF9800;
    --canceledButtonColor: #E57373;
    --mainTextColor: #212121;
    --darkblueText: #001223;
    --blankColor: #D9D9D9; /* Color usado en opciones del landing y espacios del Log In y del Sign Up*/

    --notesColor: #E6F4EA;
    --purchaseHistoryColor: #FFF9C4;
    --paymentMethodColor: #FFE0B2;

    font-size: 16px;
}


/* ----------------MAIN SECTION------------------- */
main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actual__method-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    color: var(--darkblueText);
    font-weight: 500;
}

.actual__method{
    display: flex;
    align-items: center;
    margin-top: 5px;
    background: var(--paymentMethodColor);
    color: var(--darkblueText);
    padding: 10px;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    font-size: 0.8rem;

    box-shadow: 0.8px 1px 4px #b36d05c8;
}

.add__method-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border-style: none;
    background-color: var(--headerColor);
    cursor: pointer;

    position: relative;
    margin-top: 37px;
    /* left: 3%; */
    overflow: hidden;

    transition: border-radius 0.3s ease, width 0.3s ease;
}

.add__method-btn:hover{
    width: 260px;
    border-radius: 1000px;
}

.add__method-btn img{
    width: 50px;
    height: 50px;
    transform: translateX(-3px);
    transition: transform 0.5s ease;
}

.add__method-btn:hover img {
    transform: translateX(4px);
}

.add__method-btn span{
    width: 300px;

    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: var(--mainTextColor);
    transform: translateX(-5px);
    opacity: 0;

    transition: opacity 0.3s ease, transform 0.4s ease;
}

.add__method-btn:hover span{
    width: 300px;
    opacity: 1;
    transform: translateX(2px);
}


/* -------------PRIMERA VENTANA MODAL-------------- */

.options__container, .form__container2{
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 17px;
    max-width: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    visibility: hidden;
    
    opacity: 0;
    transition: opacity 0.3s ease, transform .2s ease;
    z-index: 20;
}

.options__container.open, .form__container2.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.return__btn-container{
    width: 400px; /*Necesario para que el modal no quede aplastado*/
    height: 40px;

    display: flex;
    align-items: center;

    margin: 0 0 40px 0;
    position: relative;
    right: 10px;
}

.return__button2{
    display: grid;
    place-items: center;
    place-content: center;
    width: 25px;
    height: 25px;
    margin: 0 16px 0 10px;

    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.return__button2 img{
    width: 170%;
}

.return__btn-container span{
    font-weight: 500;
}

p{
    font-size: 0.8rem;
    padding: 0 10px;
    text-align: center;
}

.options{
    margin: 40px 0 0 0;
    border-top: 1px solid var(--darkblueText);
}

.individual__option-container{
    display: flex;
    align-items: center;
    padding: 7px 10px;
    margin: 28px 0 10px 0;
    background: transparent;
    cursor: pointer;
    border-style: none;
}

.individual__option-container img{
    width: 5%;
    margin-right: 10px;
}

.individual__option-container span{
    font-size: 0.9rem;
    font-weight: 500;
}


/*-----------------Datos tarjeta de credito-------------- */
.form__input-separator{
    margin-bottom: 30px;
}

.form__input{
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;

    border-radius: 4px;

    position: relative;

    border: none;
    border: 1px solid #ccc;
}

/* La línea superior (oculta al inicio) */
.form__container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__input::before {
    content: "";
    position: absolute;
    top: -7.5px;
    left: 0px;
    right: 280px;
    height: 1px;
    
    background-color: #cccccce7;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.iTwo::before{
    right: 314px;
}

.iThree::before{
    right: 268px;
}

.form__input:focus-within::before {
    opacity: 0;
}

.form__input legend{
    padding: 0 7px;
    font-size: 0.7rem;

    transform: translate(35px, 21px);
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.two legend, .three legend{
    transform: translate(5px, 21px);
    z-index: 20;
}


.form__input:focus-within  legend{
    display: block;
    padding: 0 7px;
    font-size: 0.8rem;

    transform: translate(0, 0);
}

input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}


.form__input img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.form__input input{
    padding: 8px 12px;
    width: 100%;
    border-style: none;
    outline: none;

    font-size: 0.7rem;
} 


.payment__btn{
    align-self: center;
    
}



/* ---------------WRAPPER-------------- */

.method__select-container{
    margin-top: 37px;
    background: var(--mainColor);
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 1px 1px 4px var(--darkblueText);
}

.method__select-value{
    padding: 10px;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.method__select-value span{
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
}

.method__select-value img{
    width: 25px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;

    background: white;
    border: 1px solid var(--blankColor);
    width: 100%;
    max-height: 0;
    overflow: hidden;

    transition: max-height .3s ease;
    border-radius: 8px;
}

.dropdown-list.open {
    max-height: 200px; /* altura del desplegable */
    border: 1px solid #ccc;
}

.method__select-value.open img {
    transform: rotate(180deg);
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 0.8rem;
}

.dropdown-item:hover {
    background-color: #eee;
}


@media (min-width: 780px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 30px;
        align-items: start;

        place-items: center; /*Horizontal*/
    }

    label{
        font-size: 1.1rem;
    }
    
    .method__select-value span{
        font-size: 1.03rem;
    }


    .actual__method{
        font-size:0.9rem;
        padding: 14px;
        height: 48px;
    }

    .method__select-container{
        margin: 0;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .dropdown-item {
        font-size: 0.9rem;
        padding: 14px;
    }

    .add__method-btn{
        margin-top: 0;
    }
}

